<!DOCTYPE html>
<html>
  <head>
    <title>{{Title}}</title>
    <style>
    nav,main,footer{max-width:1400px;margin:auto;padding:10px;}
nav ul {list-style-type: none;margin:10px;padding:10px;}
nav li {display:inline-block;}
</style>

  <body>
    {{{embed}}}
  </body>
</html>